<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- favicon -->
        <link rel="shortcut icon" href="/favicon.ico" />
    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <img src="/198px-Ruby_logo.svg.png" alt="ruby symbol" width="24px" height="24px"
              <h1 class="title"><a style="margin-left:7px;color:#a81401"href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">blog</a>
              <a class="extra" href="/about.html">about</a>
              <a class="extra" href="http://southbay-ruby-la.boards.net/">forum</a>
              <a class="extra" href="https://www.dropbox.com/home/Ruby%20Group">dropbox</a>
              <a class="extra" href="https://github.com/southbayrubyla/">github</a>
              <a class="extra" href="/links.html">links</a>
            </div>
     
                {{ content }}

            <div class="footer">
              <div class="contact">
                <p style="color:#aaa"><font size="1">site author:</font><font size="2">  Sean Westfall</font></p>
              </div>
              <div class="contact">
                <p>
                  <a style="position:relative;left:25px" href="mailto:sean.westfall@gmail.com">sean.westfall@gmail.com</a><br />
                </p>
              </div>
              <div class="contact"i>
                <p>
                  <a style="position:relative;left:50px">© 2013 SouthBay Ruby LA All Rights Reserved</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
